<!DOCTYPE html>
<html>
  <head>
    <title> <%= "#{ content_for(:title) ? yield(:title) + ' - ' : ''}#sourcepost" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/favicons' %>
    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.0.13/css/all.css',
                          integrity: 'sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp',
                          crossorigin: 'anonymous' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container main-container">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%#= debug(params) if Rails.env.development? %>
  </body>
</html>
